body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  background-color: dimgray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#userSelector {
  position:absolute;
}

#centralColumn {
  margin: 0 auto;
  width: 90%;
  height: 100vh;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.postsList {
  margin: 0 auto;
  padding: 0 4px;
  width: 100%;
  flex-grow: 1;
  overflow-y:scroll;
  background-color: whitesmoke;
  box-sizing: border-box;
}

.post {
  margin: 3px 0;
}

.author {
  color: dimgray;
  font-size: 80%;
  font-weight: bold;
  width: fit-content;
}

.date {
  width:fit-content;
  margin: 0 auto;
  font-weight:bold;
}

.time {
  color: dimgray;
  font-size: 70%;
  width: fit-content;
}

.self .author, .self .time {
  margin-left: auto;
}

.message {
  padding:6px 12px;
  border-radius: 10px;
  width:fit-content;
  white-space: pre-wrap;
  overflow-wrap:break-word;
  word-break:break-word;
}

.post:not(.self) .message {
  border-bottom-left-radius: 0;
  background-color: burlywood;
}
.post.self .message {
  border-bottom-right-radius: 0;
  background-color: cornflowerblue;
  margin-left: auto;
}

.menuShield {
  position:absolute;
  width:0;
  height:0;
}
.contextMenu {
  position: relative;
  left: -10000px;
  top: -10000px;
  border: 10000px solid rgba(0,0,0,.15);
  transform: translate(-10px -50%);
  width:fit-content;
}
.contextMenu div {
  padding: 5px 12px;
  background-color: white;
  font-size: 120%;
  border-bottom: 1px solid gray;
  cursor: default;
}
.contextMenu div:first-child {
  border-top: 1px solid gray;
}
.contextMenu div:hover {
  background-color: lightsteelblue;
}

.editArea {
  display:block;
  box-sizing: border-box;
  margin: 10px 0;
  width: 100%;
  height: 6em;
  border:5px solid gray;
  overflow:auto;
  overflow-wrap:break-word;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: 16px;
  resize:none;
}
.submitButton {
  display:block;
  margin: 4px 0 20px auto;
  font-size: 14px;
  background-color: cornflowerblue;
  padding:5px 15px;
  border-radius: 7px;
}